{% extends "project/base.html" %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>
                    {% if user.is_authenticated %}
                        Welcome, {{ user.username }}:
                    {% else %}
                        Public Landing Page
                    {% endif %}
                </h1>
                <ul>
                    <li>"profile" - information associated with users</li>
                    <li>"home" - landing page</li>
                    <li>"lootparser" - asset management</li>
                    <li>"lightswitch" - wormhole control</li>
                    <li>"moviepicker" - movie selection and advertisement</li>
                    <li>"guides" - onboarding, guides and how-tos</li>
                </ul>

            </div>
        </div>
    </div>

{% endblock content %}