{% extends "project/base.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'moviepicker/css/moviepicker.css' %}">
{% endblock css %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1 class="text-center">All-Out Movie Poll</h1>
                <hr>

                {% if not user.is_authenticated %}
                    <p class="text-center">Please log in to vote or submit suggestions.<p>
                {% endif %}

            </div>
        </div>

        <div class="panel">
            <div class="row">
                <div id="results" class="col-sm-12">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block js %}
    <script src="{% static 'moviepicker/js/moviepicker.js' %}" type="text/javascript"></script>
{% endblock js %}